{% extends "base.html" %}
{% block content %}
    <h3>Current destinations for group {{groupID}}</h3> 
    <h5>Group leader: {{groupLeader}}, Phone number: {{phoneNumber}} </h5>
    <p style="font-size:125%">Current time: {{currentTime}} + {{overtime}} min late </p> 
    <form method="POST">
        {% csrf_token %}
        <button type="Submit" name="late" style="height:37px;width:65px" class="btn btn-danger" value="{{ late }}">late</button>
        <button type="Submit" name="stop" style="height:37px;width:65px" class="btn btn-danger" value="{{ stop }}">Stop</button>
        <!-- <button type="Submit" name="arrived" style="height:37px;width:65px" class="btn btn-danger" value="{{ arrived }}">arrived</button> -->
    </form>
    {% for dest in dests %}
        <form method="POST">
        {% csrf_token %}
        <p style="font-size:125%">{{dest.arrive_time}} {{dest.destination}} 
            <!-- <button type="Submit" name="start" style="height:37px;width:65px" class="btn btn-danger" value="{{ start }}">Start</button>
            <button type="Submit" name="arrive" style="height:37px;width:65px" class="btn btn-danger" value="{{ arrive }}">arrive</button> -->
        </p>
        
        <!-- <b>destination:</b><p> {{dest.destination}}</p> <b>arrival time:</b> <p>{{dest.arrive_time}}<p> -->
        </form>
    {% endfor %}
{% endblock content %}

